

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, sans-serif;
    color: #ffffff;
    background: url('../img/rose-480.jpg') no-repeat center center/cover;
    transition: background-image 0.3s ease-in-out;
}


.navbar {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    border-color: white;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 20px;
}

.presentation h1 {
    font-size: 3rem;
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
}

.presentation p {
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.btn-outline-danger {
    padding: 10px 25px;
    font-size: 1.2rem;
}


.resume-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
}

.resume-link img {
    width: 30px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.resume-link:hover img {
    opacity: 0.8;
}


footer {
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-cpr {
    text-align: left;
    font-size: 0.9rem;
}

.footer-social {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.footer-social a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-social a:hover {
    text-decoration: underline;
}


@media (max-width: 800px) {
    body {
        background: url('../img/rose-800.jpg') no-repeat center center/cover;
    }

    .presentation h1 {
        font-size: 2.5rem;
    }

    .presentation p {
        font-size: 1.2rem;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-cpr {
        margin-bottom: 10px;
        text-align: center;
    }
}


@media (min-width: 801px) {
    body {
        background: url('../img/rose-1920.jpg') no-repeat center center/cover;
    }
}























