
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    color: #000000;
    background: url('../assets/img/tomo-480.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.navbar {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-name {
    color: white;
}

.navbar-nav .nav-link {
    color: white !important;
}

.content {
    padding: 120px 20px;
}

.split2 {
    padding-top: 150px;
    padding-left: 40px;
}

.split2 div:first-child {
    padding-left: 230px;
}

div.split2 div {
    float: left;
    width: 45%;
    padding: 0px 40px;
}

div.clearer {
    float: none;
    clear: left;
}

.img-moto{
    width: 230px;
    margin-left: 20px;
}

.img-tattoo {
    width: 230px;
    margin-left: 50px;
}

.resume-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.resume-link img {
    width: 30px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.resume-link:hover img {
    opacity: 0.8;
}


footer {
    padding: 50px 0;
    margin-left: 230px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-cpr {
    text-align: left;
    font-size: 0.9rem;
}

.footer-social {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.footer-social a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-social a:hover {
    text-decoration: underline;
}


@media (min-width: 481px) and (max-width: 800px) {
    .content {
        padding: 120px 40px;
    }
    
    .split2 {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .split2 div {
        width: 45%;
    }
}


@media (min-width: 801px) {
    body {
        background: url('../assets/img/tomo-1920.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    .content {
        padding: 140px 60px;
        text-align: left;
    }
    
    .split2 {
        flex-direction: row;
        justify-content: space-around;
        padding: 150px 60px;
    }
    
    .split2 div {
        width: 45%;
        text-align: left;
    }
    
    .img-moto, .img-tattoo {
        width: 230px;
    }
    
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}




